{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,
                  300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'bootstrap-5.3.3/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>              
   

    <title>{% block title%} Saúde em Primeiro Lugar {% endblock %}</title>
</head>
<body>
    <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" >
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{% url 'home' %}">Saúde em Primeiro Lugar</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto " href="{% url 'home' %}">Lista de Pacientes</a></li>
            <li><a class="nav-link scrollto  " href="{% url 'register-patients' %}">Cadastrar Paciente</a></li>
            <li><a class="nav-link scrollto  " href="{% url 'assessment_list' %}" >Histórico de Avaliações</a></li>  
            <li><a class="getstarted scrollto" href="{% url 'logout' %}" >Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header><!-- End Header -->
  
    {% block content %}
    {% endblock %}

  <footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">© 2024 Victor Vasconcelos</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="https://www.linkedin.com/in/victor-vasconcelos-barbosa/">Linkedin</a></li>
      <li class="list-inline-item"><a href="https://github.com/VasconcelosVictor">Git Hub</a></li>
      
    </ul>
  </footer>

</body>
</html>